<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework"
      type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
      requirePermission="false"/>
  </configSections>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
  </appSettings>
  <connectionStrings>
    <add name="AWContext" connectionString="Data Source=.\SQLEXPRESS01;Initial Catalog=AdventureWorks2019;Integrated Security=True"
      providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>

  <system.serviceModel>
    <services>
      <service name="WCFShopService.Services.ShopCartItemService" >
        <endpoint
            address=""
            binding="wsHttpBinding"
            bindingConfiguration="Binding1"
            contract="WCFShopService.Services.IShopCartItemService" />
      </service>
      <service name="WCFShopService.Services.TestMQ" behaviorConfiguration="DefaultServiceBehavior">
        <endpoint address="net.msmq://localhost/private/shippingorder"
                  binding="netMsmqBinding"
                  bindingConfiguration="MsmqBindingConfig"
                  contract="WCFShopService.Services.ITestMQ">

        </endpoint>
      </service>
      <service name="WCFShopService.Services.CustomerAddressService">
        <endpoint address=""
                  binding="basicHttpBinding"
                  contract="WCFShopService.Services.ICustomerAddressService">
        </endpoint>
      </service>
      <service name="WCFShopService.Services.OrderProcessorService">
        <endpoint address=""
                  binding="basicHttpBinding"
                  contract="WCFShopService.Services.IOrderProcessorService">
        </endpoint>
      </service>
      <service name="WCFShopService.Services.ProductCatalogService">
        <endpoint address=""
                  binding="basicHttpBinding"
                  contract="WCFShopService.Services.IProductCatalogService">
        </endpoint>
      </service>

      <service name="WCFShopService.Services.ProductCategoryService">
        <endpoint address=""
                  binding="basicHttpBinding"
                  contract="WCFShopService.Services.IProductCategoryService">
        </endpoint>
      </service>

      <service name="WCFShopService.Services.ProductPhotoService">
        <endpoint address=""
                  binding="basicHttpBinding"
                  contract="WCFShopService.Services.IProductPhotoService">
        </endpoint>
      </service>

      <service name="WCFShopService.Services.ProductService">
        <endpoint address=""
                  binding="basicHttpBinding"
                  contract="WCFShopService.Services.IProductService">
        </endpoint>
      </service>

      <service name="WCFShopService.Services.SalesTerritoryService">
        <endpoint address=""
                  binding="basicHttpBinding"
                  contract="WCFShopService.Services.ISalesTerritoryService">
        </endpoint>
      </service>

      <service name="WCFShopService.Services.OrderDisplayService">
        <endpoint address=""
                  binding="basicHttpBinding"
                  contract="WCFShopService.Services.IOrderDisplayService">
        </endpoint>
      </service>

    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="DefaultServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netMsmqBinding>
        <binding name="MsmqBindingConfig" exactlyOnce="false">
          <security mode="None">
            <transport msmqAuthenticationMode="None" msmqProtectionLevel="None"/>
          </security>
        </binding>
      </netMsmqBinding>
      <basicHttpBinding>
        <binding name="BasicHttpsBindingConfig" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647"
         receiveTimeout="00:25:00" sendTimeout="00:25:00">
          <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647"/>
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="Binding1">

        </binding>
      </wsHttpBinding>
    </bindings>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" minFreeMemoryPercentageToActivateService="0"/>
  </system.serviceModel>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>

</configuration>
