<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.4.4" targetFramework="net472" />
  <package id="Ninject" version="3.3.3" targetFramework="net472" />
  <package id="Ninject.Extensions.Wcf" version="3.3.0" targetFramework="net472" />
  <package id="Ninject.Web.Common" version="3.3.0" targetFramework="net472" />
</packages>