<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IXMLService" />
                <binding name="BasicHttpBinding_IOrderProcessorService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9000/" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IXMLService" contract="Proxy.IXMLService"
                name="BasicHttpBinding_IXMLService" />
            <endpoint address="http://localhost:60919/Services/OrderProcessorService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOrderProcessorService"
                contract="Order.IOrderProcessorService" name="BasicHttpBinding_IOrderProcessorService" />
        </client>
    </system.serviceModel>
</configuration>